GOOGLE_API_KEY=AIzaSyDPbH1f-QK1GVF7w70NT0aB5b_ScczWf2c
PPLX_API_KEY=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
FIRECRAWL_API_KEY=fc-b0e5124fcc0e42d3bb877b992a25a01f
OPIK_API_KEY=bh8ED8K6u0sdyUKCD5HnHY4OU
GITHUB_TOKEN=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